  *
        html {
            background-color: rgb(255, 255, 255); 
        }
         body {
            background-color: blue;
            color: white;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        h1 {
            margin-left: 45%;
    
        }
        img {
            max-width: 50%; max-height: 50%;
            right: 50%;
            margin-left: 25%;
        }
        footer {
            margin-left: 25%;
        }